body {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
}
/*Mobile menu styles!*/
#overlay{
	position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}
#overlay .nav-link a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}
.close-ic{
	width: 16px;
	height: 16px;
}
.mobile-or-tablet{
	width: 100%;
}
#close_menu{
	height: 50px;
	width: 50px;
	margin: 29px 29px 29px 29px;
	margin-left: auto;
}
.menu_btn{
	display:flex;
	height: 75px;
	position: fixed;
	left: 0;
	top: 0;
	margin-left: auto;
	z-index: 9999;
	width: 100%;
}
/*Mobile menu styles*/


/* Flex */
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-row-reverse{
    display: flex;
    flex-direction: row-reverse;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-center{
    justify-content: center;
}
.flex-end{
    justify-content: flex-end;
}
.flex-sp-ar{
    align-items: center;
    justify-content: space-around;
}
.flex-sp-bt{
    justify-content: space-between;
}
.flex-col-center{
    align-items: center;
}
.flex-wrap{
    flex-wrap: wrap;
}

/* Colors */
.color-light-blue{
    background-color: #4bace1
}
.color-blue{
    background-color: #1b75bb;
}

.expandable-btn {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.expandable-btn:hover {
    transform: scale(1.1);
}

.color-lipstick{
    background-color: #d52588;
}
.color-charcoal{
    background-color: #373736;
}
.color-white{
    background-color: #ffffff;
}

/* Navigation */
.logo{
    height: 75px;
    width: 300px;
}
.nav-container,
.nav-subcontainer {
    position: absolute;
}
.nav-container nav,
.nav-subcontainer nav{
    flex-wrap: nowrap;
    justify-content: space-between;
    width: calc(100vw - 170px);
    padding: 0 80px 0 90px;
}
.nav-menu, 
.list-footer,
.services-tab,
ul {
    list-style: none;
}
.nav-link{
    letter-spacing: .015em;
    padding: 10px;
}
.nav-container .nav-link a, 
.list-footer {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}
.nav-subcontainer .nav-link a {
    color: #373736;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}


/* Main Header */
.header-container{
    background-image: url("assets/images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 50vh;
    max-width: 100vw;
    padding: 0 90px;
}
.header-content{
    min-height: 50vh;
    width: 50vw;
}

/* Buttons */
.custom-btn{
    height: 44px;
    border-color: transparent;
    border-radius: 22px;
    background-color: #d52588;
    font-family: Helvetica;
    font-size: 18px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    width: auto;
}
.round-btn{
    border-radius: 100%;
    cursor: pointer;
    height: 25px;
    padding: 0;
    width: 25px;
}
.blue-light-btn{
    border-radius: 14.5px;
    border: solid 2px #1b75bb;
    color: #1173be;
    font-size: 14px;
    font-weight: 600;
    padding: 7px;
    text-align: center;
    width: auto;
}
.blue-btn {
    border-radius: 13px;
    background-color: #1b75bb;
    margin: 10px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    padding: 5px;
}
.trp-btn {
    width: 128px;
    height: 42px;
    background-color: transparent;
    border: solid 1px #ffffff;
    margin: 10px;
    text-transform: uppercase;
}
.filter-btn{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.22;
    color: #373736;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 10px;
}
.filter-down-arrow {
    transform: rotate(90deg);
}
.input-lg {
    background-color: #ffffff;
    margin: 10px;
    height: 41px;
    width: 234px;
}
.form-input {
    height: 30px;
    border: solid 1px #a7a7a5;
    background-color: #ffffff;
    margin: 10px;
    padding: 5px;
    font-size: 14px;
    color: #a7a7a5;
}
.form-textarea {
    height: 86px;
    border: solid 1px #a7a7a5;
    background-color: #ffffff;
    margin: 10px;
    padding: 5px;
    font-size: 14px;
    color: #a7a7a5;
}
.form-captcha {
    width: 261px;
    height: 65px;
    object-fit: contain;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #d6d6d6;
    background-color: #fafafa;
    margin: 10px;
}
.form-privacy {
    font-size: 10px;
    color: #373736;
    margin-left: 15px;
    text-decoration: underline;
}
.prev-page{
    transform: rotate(180deg);
}
.accordion-btn{
    border: solid 1px #e9edf1;
    background-color: #ffffff;
    font-size: 21px;
    font-weight: 500;
    color: #373736;
    padding: 10px 20px;
    text-align: left;
    width: 980px;
}
.accordion-panel {
    border: solid 1px #e9edf1;
    border-top: none;
    background-color: #ffffff;
    font-size: 18px;
    color: #373736;
    padding: 10px 20px;
    width: 938px;
}
.accordion-open{
    border-bottom: none;
}


/* Text styles */
.text-white-pop{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: 1.28;
    color: #ffffff;
    text-transform: capitalize;
}
.text-charcoal-pop{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.28;
    color: #373736;
}
.text-white{
    font-family: "Work Sans", sans-serif;
    line-height: 1.28;
    color: #ffffff;
}
.text-blue{
    font-family: "Work Sans", sans-serif;
    line-height: 1.28;
    color: #1b75bb;
}
.text-blue-light{
    font-family: "Work Sans", sans-serif;
    line-height: 1.28;
    color: #4bace1;
}
.text-charcoal {
    font-family: "Work Sans", sans-serif;
    color: #373736;
}
.text-gray-light{
    font-family: "Work Sans", sans-serif;
    color: #a7a7a5;
}
.text-sim{
    font-size: 14px;
    padding-top: 12px;
    text-align: center;
}
.text-trd{
    font-size: 16px;
    line-height: 1.43;
    text-align: center;
}
.text-snd-sub{
    font-size: 18px;
    line-height: 1.43;
    text-align: center;
}
.text-snd {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }
.text-prim{
    font-size:28px;
    text-align: center;
}
.text-main{
    font-size: 36px;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}

 /* Sections */
.section-title {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin: 40px 0;
    text-align: center;
    text-transform: capitalize;
    color: #373736;
}
.section-container-white{
    padding: 30px 80px 60px 90px;
    background-color: #ffffff;
}
.section-container-gray{
    padding: 30px 80px 60px 90px;
    background-color: #e9edf1;
}
.section-container-light-blue{
    padding: 30px 80px 60px 90px;
    background-color: #4bace1;
}
.section-container-blue{
    padding: 30px 80px 60px 90px;
    background-color: #1b75bb;
}
.section-container-lipstick{
    padding: 20px 80px 20px 90px;
    background-color: #d52588;
}
.section-container-charcoal{
    padding: 80px 80px 30px 90px;
    background-color: #373736;
}
.section-container-blue p{
    width: 83%;
}

.section-hd-title{
    padding-top: 150px;
}

/* Imagen */
.img-sm{
    max-height:80px;
}
.img-lg{
    max-height: 30vh;
}
.img-wrapper{
    padding: 30px 15px 15px 10px;
}
.img-margin{
    margin: 0 20px 20px 20px;
}
#img-cl{
    margin: 0 20px 20px 20px;
}
.img-cover{
    width: 100%;
    height: auto;
}
  @supports(object-fit: cover){
      .img-cover{
        height: 100%;
        object-fit: cover;
        object-position: center center;
}
.icon {
    height: 25px;
    width: 25px;
}

.sz-med {
    width: 58%;
}
.sz-75{
    width: 75%;
}
.sz-50{
    width:50%;
}

/* Card */
.card{
    margin: 10px;
    width: 31.7%;
    align-self: strech;
}
.card-hd{
    position: relative;
    top: 42px;
    background-color:  transparent;
    width: 100%;
}
.card-tag-hd{
    height: 22px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    padding: 10px 20px;
    text-align: right;
    color: #ffffff;
    width: auto;
}
.card-tag{
    border-radius: 5px;
    height: 26px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.80;
    padding: 10px 20px;
    width: fit-content;
}

.card-content {
    padding: 20px 15px;
}
.card-content > * {
    margin: 0;
}
.card-content ul li{
    padding-bottom: 10px;
}
.card-border {
    border: 4px solid #e1e6eb;
}
.card-footer {
    min-height: 42px;
}
.card-footer img {
    max-height:28px;
    margin-right: 5px;
}
.card-slim {
    align-items: center;
    border: solid 3px #e1e6eb;
    background-color: #ffffff;
    justify-content: space-between;
    margin: 10px;
    padding: 20px 10px;
    width: 16%;
}
.card-lg{
    background-color: #ffffff;
    box-shadow: 0 3px 5px 0 rgba(206, 204, 204, 0.5);
    margin: 40px 0;
    padding: 30px 90px;
    width: 66.60%;
}

/*  */
.s-margin{
    margin: 0;
}
.m-lf{
    margin-left: 20px;
}
.m-up-down{
    margin: 20px 0;
}
.pad-20{
    padding: 20px;
}
.quote{
    font-size: 62px;
    font-weight: bold;
    text-align: center;
    color: #1b75bb;
}

/*  */
.fc-r{
	width: 95%;
}
.fc-y{
	width: 50%;
	height: 100%;
}
#fc-l{
	width: 17%;
}
.fc-v{
	width: 35%;
}
#fc-e{
	width: 30%;
}
.fc-d{
	width: 17%;
}
#fc-t{
	width: 65%;
}
.arrow{
    width: 90px;
    border: 2px solid #373736;
    height: 0;
    position: relative;
    margin-right: 117px;
}
.oval {
    background-color: transparent;
    border: solid 4px #373736;
    border-radius: 100%;
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: relative;
}
.oval-selected {
    border: solid 4px #4bace1;
}
.oval[data-label]::after{
    content: attr(data-label);
    position: absolute;
    left: -80px;
    top: 24px;
    width: 180px;
    border-radius: 10px;
    color: #373736;
    font-size: 18px;
    font-weight: 600;
    font-family: "Work Sans", sans-serif;
    text-align: center;
}
.arrow::after {
    content: "";
    border-right: 4px solid #373736;
    border-bottom: 4px solid #373736;
    height: 9px;
    transform: rotate(-45deg);
    width: 9px;
    position: absolute;
    right: -15px;
    top: -7px;
}
.arrow::before {
    content: '';
    width: 90px;
    border: 2px solid #373736;
    position: absolute;
    left: 115px;
    top: -1px;
}
.tab-arrow{
    margin-bottom: 120px;
}
.tab-content{
    width: 41.5%;
}

/* Service tab */
.services-tab{
    margin-right: 70px;
    padding: 0;
}
.services-tab li{
    width: 122px;
    min-height: 72px;
    background-color: #1b75bb;
    border-bottom: 1px solid white;
    cursor: pointer;
}

/* Footer */
.ft-desc{
    width: 80%;
    font-size: 16px;
    color: #ffffff;
    text-align: justify;
    margin: 20px 0 40px 0;
}
.list-footer{
    width: 20%;
}
.list-footer li:first-child{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.22;
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.list-footer li{
    padding: 5px;
}
.ft-msg{
    text-decoration-line: underline;
}
.ft-bottom{
    border-top: 1px solid #a7a7a5;
    background-color: #373736;
    padding: 20px 80px 30px 90px;
}
.ft-social{
    width:80%;
}
.ft-social a{
    margin: 10px;
}

:focus {
    outline: none;
}

/* Queries */

@media only screen and (max-width: 320px) {


.nav-container{
    display: none;
}
.nav-subcontainer{
	display: none;
}
.logo{
	width: 250px;
	height: 70px;
}


/* Main Header */
.header-container{
    padding: 0 20px 40px 20px;
    min-height: 500px;
    justify-content: center;
}
.header-container.flex-row{
    flex-direction:row;
}
.header-content{
    min-height: 50vh;
    width: 80%;
    padding-top: 20px;
}


/*Button*/
.button-container{
    justify-content: center;
    display:flex;
}
 .round-btn{
    margin: 0 auto;
}


 /* Flex */
.flex-row{
    display: flex;
    flex-direction: column;
}
.expandable-btn {
    display: inline-block;
}
.custom-btn{
    height: 100%;
    border-radius: 30px;
    margin-top: 20px;
}
.footer-center{
    text-align: center;
}


/*Section*/
.section-container-white{
    padding: 30px 30px 60px 30px;
}
.section-container-lipstick{
    padding: 60px 30px 60px 30px;
}
.section-container-gray{
    padding: 30px 30px 60px 30px;
    text-align: center;
}
.section-container-blue{
    padding: 30px 30px 60px 30px;
}
.section-container-charcoal{
   padding: 30px 30px 60px 30px; 
}



/* Card */
.card-slim {
    margin:10px 0px;
    padding: 10px 10px;
    width: 60%;
    text-align: center;
}
.card {
    margin:10px 0px 10px 0px;
    width: 100%;
}
.card-lg.flex-column{
    width: 77%;
}
.card-lg{
    margin: 0px 0px 0px 0px;
    padding: 30px 30px;
}
.card-footer{
    padding: 20px 0px 0px 0px;
}
.card-tag-hd{
    margin-left: 80px;
}


/* Imagen */
#img-header{
    display: none;
}
#img-cl{
    margin: 20px 20px 20px 20px;
}
.img-margin{
    width: 40%;
    margin: 0px 10px 0px 10px;
}
.img-q{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-cover{
    height: 120px;
}
.sz-50{
    width:90%;
    text-align: center;
}
.img-sm{
	max-width: 80px;
	margin: 0 auto;
}
.img-d{
	display:none;
}
.img-e{
	display:none;
}

/*Text*/
.text-main{
text-align: center;
}
.text-left{
text-align: center;
}
.text-charcoal-pop{
    width: 100%;
    font-size: 20px;
}
h4.text-white{
    text-align: center;
    justify-content: center;
}
.flex-col-center.text-white{
    margin: 0px 0px 20px 0px;
}
h1.text-white-pop.text-main{
	    font-size: 30px;
}


/*  */
.tab-content{
    width: 90%;
}
#cont-w{
    display: inline-block;
    text-align: center;
}
video{
display:none;
}
.m-lf{
	margin-left: 0px;
}
#fc-l{
width: 100%;
}
#fc-l .card{
	width: 100%
}
#fc-t{
	width: 100%;
}
.fc-y{
	width: 100%;
}
.fc-v{
	width: 100%;
}
#fc-e{
	width: 100%;
}
#rep-img{
	margin-top: 30px;
	width: 90%;
}
.flex-row.m-up-down{
	flex-direction:row;
	}

/*Footer*/
.section-container-lipstick.flex-row {
    display: flex;
    align-items: center;
}
.ft-desc{
	    width: 100%;
    text-align: justify;
}
.ft-social{
    width:100%;
}
.list-footer{
    width: 100%;
    padding-inline-start:0px;
    align-items: center;
    text-align: center;
    margin: 60px 0px 0px 0px;
}
.ft-bottom{
	padding: 20px 20px 30px 20px;
	text-align: center;
	font-size: 12px;
	color: rgb(159, 161, 167);
}
}

@media only screen and (min-width: 320px) and (max-width: 480px){


.nav-container{
    display: none;
}
.nav-subcontainer{
	display: none;
}

.mobile-or-tablet{
	position:fixed;
	top:10px;
	width: 70%;
    text-align: right;
    padding-right: 16px;
}

/* Main Header */
.header-container{
    padding: 0 20px;
    min-height: 500px;
    justify-content: center;
}
.header-container.flex-row{
    flex-direction:row;
}
.header-content{
    min-height: 50vh;
    width: 80%;
    padding-top: 20px;
}
.section-container-white.section-hd-title{
	display: flex;
	flex-direction: column;
    min-height: 300px;
    justify-content: center;
    text-align: center;
}


/*Button*/
.button-container{
    justify-content: center;
    display:flex;
}
 .round-btn{
    margin: 0 auto;
}


 /* Flex */

.flex-row{
    display: flex;
    flex-direction: column;
}
.expandable-btn {
    display: inline-block;
}
.custom-btn{
    height: 100%;
    border-radius: 30px;
    margin-top: 20px;
}
.footer-center{
    text-align: center;
}
#fc-l{
width: 100%;
}
#fc-l .card{
	width: 100%
}
#fc-t{
	width: 100%;
}
.fc-y{
	width: 100%;
}
.fc-v{
	width: 100%;
}
#fc-e{
	width: 100%;
}

/*Section*/
.section-container-white{
    padding: 30px 30px 60px 30px;
}
.section-container-lipstick{
    padding: 60px 30px 60px 30px;
}
.section-container-gray{
    padding: 30px 30px 60px 30px;
    text-align: center;
}
.section-container-blue{
    padding: 30px 30px 60px 30px;
}
.section-container-charcoal{
   padding: 30px 30px 60px 30px; 
}


/* Card */
.card-slim {
    margin:10px 0px;
    padding: 10px 10px;
    width: 90%;
    text-align: center;
}
.card{
    margin:10px 0px 10px 0px;
    width: 100%;
    align-self: strech;
}
.card-lg.flex-column{
    width: 77%;
}
.card-lg{
    margin: 0 auto;
    padding: 30px 30px;
}
.card-footer{
    padding: 20px 0px 0px 0px;
}
.card-tag-hd{
    margin-left: 80px;
}


/* Imagen */
#img-header{
    display: none;
}
#img-cl{
    margin: 20px 20px 20px 20px;
}
.img-margin{
    width: 40%;
    margin: 0px 10px 0px 10px;
}
.img-q{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-wrapper{
    width: 90px;
    margin: 0 auto;
}
.img-cover{
    height: 200px;
}
.sz-50{
    width:90%;
    text-align: center;
}


/*Text*/
.text-main{
text-align: center;
}
.text-left{
text-align: center;
}
.text-charcoal-pop{
    width: 100%;
    font-size: 20px;
}
h4.text-white{
    text-align: center;
    justify-content: center;
}
.flex-col-center.text-white{
    margin: 0px 0px 20px 0px;
}
.text-gray-light.sz-75{
	width:100%;
}

/*  */
.tab-content{
    width: 90%;
}
#cont-w{
    display: inline-block;
    text-align: center;
}
video{
display:none;
}
.m-lf{
	margin-left: 0px;
}
/*Footer*/
.section-container-lipstick.flex-row{
    display: flex;
    align-items: center;
}
.ft-desc{
	    width: 100%;
    text-align: justify;
}
.ft-social{
    width:100%;
}
.list-footer{
    width: 100%;
    padding-inline-start:0px;
    align-items: center;
    text-align: center;
    margin: 60px 0px 0px 0px;
}
.ft-bottom{
	padding: 20px 20px 30px 20px;
	text-align: center;
	font-size: 12px;
	color: rgb(159, 161, 167);
}
}

@media only screen and (min-width: 481px) and (max-width: 767px){


.nav-container{
    display: none;
}
.nav-subcontainer{
	display: none;
}


/* Main Header */
.header-container{
    padding: 0 20px;
    min-height: 450px;
    justify-content: center;
}
.header-container.flex-row{
    flex-direction:row;
}
.header-content{
    min-height: 50vh;
    width: 80%;
    padding-top: 20px;
}
.section-container-white.section-hd-title{
	display: flex;
	flex-direction: column;
    min-height: 250px;
    justify-content: center;
    text-align: center;
    padding: 60px 30px 60px 30px;
}
/*Button*/
.button-container{
    justify-content: center;
    display:flex;
}
 .round-btn{
    margin: 0 auto;
}


 /* Flex */

.expandable-btn {
    display: inline-block;
}
.custom-btn{
    height: 100%;
    border-radius: 30px;
    margin-top: 20px;
}
.footer-center{
    text-align: center;
}

.tab-arrow.flex-row{
	flex-direction: column-reverse;
}
.flex-row.flex-center{
	flex-wrap: wrap;
	flex-direction: row;
}

.flex-row.flex-sp-ar{
width: 100%;
}
#wh-flex{
	flex-wrap: wrap;
}
.flex-snd{
    flex-wrap: wrap;
    justify-content: center;
}
#a-us .flex-row{
	flex-direction: column;
}
.section-container-white .flex-sp-bt{
	justify-content: center;
}



/*Section*/
.section-container-white{
    padding: 30px 30px 60px 30px;
}
.section-container-lipstick{
    padding: 60px 30px 60px 30px;
    flex-direction: column;
}
.section-container-gray{
    padding: 30px 0px 60px 0px;
    text-align: center;
}
.section-container-blue{
    padding: 30px 30px 60px 30px;
}
.section-container-charcoal{
   padding: 30px 30px 60px 30px; 
}
#a-us{
	padding: 30px 40px 60px 40px;
}
#ft-n{
	flex-wrap: wrap;
}


/* Card */
.card-slim {
    margin:10px 10px;
    padding: 10px 10px;
    text-align: center;
    min-width: 200px;
    width: 50%;
}
.card{
    margin:0px 5px 10px 5px;
    width: 45%;
}
.card-lg.flex-column{
    width: 77%;
}
.card-lg{
    margin: 0 auto;
    padding: 30px 30px;
}
.card-footer{
    padding: 20px 0px 0px 0px;
}


/* Imagen */
#img-header{
    display: none;
}
#img-cl{
    margin: 20px 20px 20px 20px;
}
.img-margin{
    max-width: 150px;
    margin: 0px 10px 0px 10px;
}
.img-q{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#img-ft{
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
.img-cover{
    height: 120px;
}
.sz-50{
    width:100%;
    text-align: center;
}
#us-v{
	display:inline-block;
	text-align: center;
}
#sec-us-v{
	justify-content: center;
	margin:30px 0px 0px 0px;
}
.img-d{
	display:none;
}
#rep-img{
	max-width: 500px;
}

/*Text*/
.text-main{
text-align: center;
}
.text-left{
text-align: center;
}
.text-charcoal-pop{
    width: 100%;
    font-size: 20px;
}
h4.text-white{
    text-align: center;
    justify-content: center;
}
.flex-col-center.text-white{
    margin: 10px 0px 10px 0px;
}
.text-gray-light.sz-75{
	width:90%;
	margin:0 auto;
}


/*  */
.tab-content{
    width: 90%;
}
#cont-w{
    display: inline-block;
    text-align: center;
}

.m-lf{
	margin-left: 0px;
}
video{
	width: 90%
}
#vid-a{
	margin:0 auto;
}
#fc-l{
width: 50%;
margin-right: 10px;
}
#fc-l .card{
	width: 100%
}
#fc-t{
	width: 100%;
}
.color-lipstick.fc-y{
	width: 60%;
}
.fc-v{
	width: 100%;
}
#fc-e{
	width: 100%;
}
.fc-r{
	margin: 0px 0px 10px 0px;
	height: 142px;
}
.fc-d{
	width: 47%;
	margin: 0px 0px 10px 0px;
}
.color-charcoal.fc-y{
	width: 40%;
}

/*Footer*/
.footer-center{
	widows: 90%;
}
.section-container-lipstick.flex-row{
    display: flex;
    align-items: center;
}
.ft-desc{
	    width: 100%;
    text-align: justify;
}
.ft-social{
    width:100%;
}
.list-footer{
	width: 30%;
	padding-inline-start: 10px;
	text-align: justify;
	justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 60px 0px 0px 0px;
}
.ft-bottom{
	padding: 20px 20px 30px 20px;
	text-align: center;
	font-size: 12px;
	color: rgb(159, 161, 167);
}
#ft-con{
	width: 90%
}
#input-lg{
	width: 70%;
}
.flex-col-center.flex-end{
	justify-content: center;
}
}

@media only screen and (min-width: 767px) and (max-width: 1069px){
.nav-container{
    display: none;
}
.nav-subcontainer{
    display: none;
}

/* Main Header */
.header-container{
    padding: 0 20px;
    min-height: 450px;
    justify-content: center;
}
.header-container.flex-row{
    flex-direction:row;
}
.header-content{
    min-height: 50vh;
    width: 80%;
    padding-top: 20px;
}


/*Button*/
.button-container{
    justify-content: center;
    display:flex;
}
 .round-btn{
    margin: 0 auto;
}


 /* Flex */

.expandable-btn {
    display: inline-block;
}
.custom-btn{
    height: 100%;
    border-radius: 30px;
    margin-top: 20px;
}
.footer-center{
    text-align: center;
}

.tab-arrow.flex-row{
    flex-direction: column-reverse;
}
.flex-row.flex-center{
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-row.flex-sp-ar{
width: 100%;
}
#a-us .flex-row{
	flex-direction: column;
}
#wh-flex{
	flex-wrap: wrap;
}


/*Section*/
.section-container-white{
    padding: 30px 30px 60px 30px;
}
.section-container-lipstick{
    padding: 60px 30px 60px 30px;
    flex-direction: column;
}
.section-container-gray{
    padding: 30px 0px 60px 0px;
    text-align: center;
}
.section-container-blue{
    padding: 30px 30px 60px 30px;
}
.section-container-charcoal{
   padding: 30px 30px 60px 30px; 
}
#a-us{
    padding: 30px 40px 60px 40px;
}
#ft-n{
    flex-wrap: wrap;
}


/* Card */
.card-slim {
    margin:10px 10px;
    padding: 10px 10px;
    text-align: center;
    min-width: 200px;
    width: 50%;
}

.card-lg.flex-column{
    width: 77%;
}
.card-lg{
    margin: 0 auto;
    padding: 30px 30px;
}
.card{
    margin:0px 5px 10px 5px;
    width: 31.7%;
}
.color-charcoal.card-content{
	height: 230px;
}
.card-footer{
    padding: 20px 0px 0px 0px;
}
.color-blue.card-footer{
    padding: 5px 0px 0px 0px;
}
.color-white.card-content{
	height: 210px;
}
.section-container-white.section-hd-title{
	display: flex;
	flex-direction: column;
    min-height: 250px;
    justify-content: center;
    text-align: center;
}
.text-gray-light.sz-75 {
    width: 90%;
    margin: 0 auto;
}

/* Imagen */
#img-header{
    display: none;
}
#img-cl{
    margin: 20px 20px 20px 20px;
}
.img-margin{
    max-width: 150px;
    margin: 0px 10px 0px 10px;
}
.img-q{
    width: 60px;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: 20px;
}
#img-ft{
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
.img-cover{
    height: 120px;
}
.sz-50{
    width:100%;
    text-align: center;
}
#us-v{
    display:inline-block;
    text-align: center;
}
#sec-us-v{
    justify-content: center;
    margin:30px 0px 0px 0px;
}

/*Text*/
.text-main{
text-align: center;
}
.text-left{
text-align: center;
}
.text-charcoal-pop{
    width: 100%;
    font-size: 20px;
}
h4.text-white{
    text-align: center;
    justify-content: center;
}
.flex-col-center.text-white{
    margin: 10px 0px 10px 0px;
}


/*  */
.tab-content{
    width: 90%;
}
#cont-w{
    display: inline-block;
    text-align: center;
}
.m-lf{
    margin-left: 0px;}

.flex-colum.m-lf{
    margin-left: 0px;
    width: 100px;
}

video{
    width: 575px;
}
#vid-a{
	margin:0 auto;
}
#fc-l{
width: 50%;
margin-right: 10px;
}
#fc-l .card{
	width: 100%
}
#fc-t{
	width: 100%;
}
.color-lipstick.fc-y{
	width: 60%;
}
.fc-v{
	width: 100%;
}
#fc-e{
	width: 100%;
}
.fc-r{
	margin: 0px 0px 10px 0px;
	height: 142px;
}
.fc-d{
	width: 47%;
	margin: 0px 0px 10px 0px;
}
.color-charcoal.fc-y{
	width: 40%;
}


/*Footer*/
.footer-center{
    widows: 90%;
}
.section-container-lipstick.flex-row{
    display: flex;
    align-items: center;
}
.ft-desc{
        width: 100%;
    text-align: justify;
}
.ft-social{
    width:100%;
}
.list-footer{
    width: 30%;
    padding-inline-start: 10px;
    text-align: justify;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 60px 0px 0px 0px;
}
.ft-bottom{
    padding: 20px 20px 30px 20px;
    text-align: center;
    font-size: 12px;
    color: rgb(159, 161, 167);
}
#ft-con{
    width: 90%
}
#input-lg{
    width: 70%;
}
.flex-col-center.flex-end{
    justify-content: center;
}
}

@media only screen and (min-width: 1070px) and (max-width: 2000px){
 .mobile-or-tablet{
 	display: none;
 }
 video{
 	margin-left: 40px;
 }
 .color-white.card-content{
 	height: 200px;
}
}
/* Specific Queries */
@media only screen and (min-width: 1044px) and (max-width: 1189px){

.card-slim {
    margin:10px 10px;
    padding: 10px 10px;
    text-align: center;
    min-width: 300px;
    width: 50%;
}
}

@media only screen and (min-width: 767px) and (max-width: 1043px){
.card-slim {
    margin:10px 10px;
    padding: 10px 10px;
    text-align: center;
    min-width: 200px;
    width: 50%;
}
}

@media only screen and (min-width: 1070px) and (max-width: 1338px){
#cont-w .img-margin{
	margin: 0px 40px 0px 40px;
	width: 20%
}
#cont-w{
	margin-bottom: 50px;
	 flex-wrap: wrap;
    flex-direction: row;
}
}

@media only screen and (min-width: 1206px) and (max-width: 1365px){
.color-charcoal.card-content{
	height: 170px;
}
}